<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Miguel Nunes - Developer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/index.css">
</head>

<body>
    <header>
        <img src="/img/minhafoto.jpeg" style="width: 50px; height: 55px;" alt="Foto de perfil">
        <nav>
            <a href="" lang="en">Skills</a>
            <a href="">Projetos</a>
            <a href="">Sobre</a>
            <a href="">Contatos</a>
            <a href="">Meu cv</a>
        </nav>
    </header>
</body>

</html>